[Unit]
Description=PM2 monitor for Zabbix
After=network.target remote-fs.target

[Service]
Type=simple
User=root

ExecStart=/usr/bin/pm2-zabbix --monitor --server zabbix.bookie.ch

[Install]
WantedBy=multi-user.target
